extends layout

block content
    -url= 'http://www.grupoenergy.com/grupoenergy/images/familias'
    .row
        ul.breadcrumb
            li
                a(href="/") Home
        .span4
            include partials/category-list
        .span8
            #products
                ul.thumbnails
                    -each category in categories.rows
                        li.span2
                            div.thumbnail(title='#{category.key[1]}')
                                a.thumbnail(href='#{category.url}', style="height:170px")
                                    img(src='#{url}/#{category.key[2]}_100x100.jpg')
                                    h6!=category.key[1]
