extends layout

block content
    .row
        ul.breadcrumb
            li
                a(href="/") Home
                span.divider/
            li
                a(href="#{category.url}")=category.key[1]
        .span3
            include partials/category-list
        .span9
            #products
                ul.media-list
                    -each product in products.rows
                        li.media
                            .thumbnail.pull-left(href="/#{product.id}")
                                img(src='#{thumbBaseUrl}/#{product.id}/#{product.id}_200.jpg')
                            div.media-body
                                h4.media-heading!=product.doc.name
                                h5 #{product.doc.prize.toFixed(2)} eur
                                a.product-link(href="#{product.url}") M&aacute;s informaci&oacute;n
block scripts
    script(type="text/javascript")
        $(function(){
            $("ul.media-list li.media div.media-body").click(function(e){
                window.location.href = $(this).children('a').attr('href');
            })
        });

