extends layout

block content
    -thumbBaseUrl = 'http://www.grupoenergy.com/grupoenergy/images/productos'
    #products
        ul.media-list
            -each product in products.rows
                li.media
                    a.pull-left(href="#")
                        img(src='#{thumbBaseUrl}/#{product.id}/#{product.id}_200.jpg')
                    div.media-body
                        h4.media-heading!=product.doc.name
                        p!=product.doc.description.replace(/\.-/g, '<br />')
                        h5.pull-right #{product.doc.prize.toFixed(2)} eur
                        a M&aacute;s informaci&oacute;n
