<h1>Pedido</h1>

<p><%= form.name %> hemos recibido su pedido y lo procesaremos en breve.<br />
Enviaremos <strong><%= product.name %></strong> en los pr&oacute;ximos d&iacute;as.</p>

<p>A la siguiente direcc&oacute;</p>

<address>
<%= form.name %>, <br />
<%= form.surname %>, <br />
<%= form.address %>, <br />
</address>
<p>
Atentamente,<br />

Fulano, Mengano y Zutano</p>
